# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
# xcodegen-generated project; do not commit
*.xcodeproj/
*.xcuserdatad/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.swiftpm/
Packages/
Package.pins
Package.resolved
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# secrets
*.env
*.env.local
secrets/

# logs / temp
*.log
tmp/
